/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* COMMON CONFIGURATION */
::selection {
  background: #ff9a12;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Chakra Petch", Arial, sans-serif;
  color: #fff;
  margin: 0;
  background-color: #212121;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

i {
  transition: 0.2s;
}

i:hover {
  transform: scale(1.2, 1.2);
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

h2 {
  padding: 75px 0 60px 0;
  margin: 0;
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

ul li {
  margin-bottom: 8px;
  font-size: 18px;
}

.toggle-btn {
  display: none;
}

/* HEADING CONF */
.heading {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 350ms;
}
.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 20px;
}
.heading-logo span {
  font-weight: bold;
}
.heading-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-navigation img {
  display: none;
}
.heading-navigation__link {
  display: block;
  margin-left: 10px;
  padding: 5px 10px;
  outline: none;
}
.heading-navigation__link:hover {
  color: #fff;
}
.heading-navigation__link:focus {
  outline: none;
}

.heading.scrolled {
  background-color: #333;
}

/* HERO CONF */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero .container {
  width: 1200px;
}
.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-label {
  text-align: right;
  font-size: 60px;
}
.hero-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-contacts {
  display: flex;
  margin-top: 2rem;
  width: 200px;
}
.hero-contacts__link {
  margin: 0 15px;
}
.hero-contacts__link i {
  font-size: 37px;
}
.hero-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.hero-action__link {
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  color: #222;
  font-size: 20px;
}

/* ABOUT CONF */
.about ul {
  width: 250px;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1.3rem;
}
.about-content__img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}
.about-content__text {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content__text h3 {
  text-align: center;
  font-size: 25px;
}
.about-content__text p {
  font-size: 18px;
  line-height: 28px;
}

.projects {
  text-align: center;
  padding-bottom: 90px;
}
.projects-wrapper__header {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.projects-header {
  font-size: 1.2rem;
  font-weight: 300;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-content__item {
  max-width: 250px;
  margin: 0 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
}
.projects-content p {
  font-size: 18px;
}
.projects-content img {
  width: 100%;
  transition: 0.3s;
  z-index: 2;
}
.projects-content img:focus {
  outline: none;
}

.contacts {
  text-align: center;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  outline: none;
}
.contacts__link:hover {
  transition: 0.3s;
}
.contacts img {
  width: 50px;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contacts {
  display: flex;
  justify-content: space-around;
  font-size: 37px;
  min-width: 250px;
}
.footer p {
  margin: 0;
  padding: 30px 0;
}

@media only screen and (max-width: 1000px) {
  /* BURGER-MENU PREFERENCE */
  .toggle-btn {
    display: block;
    position: fixed;
    height: 30px;
    padding: 5px;
    margin: 30px 0 0 30px;
    z-index: 999;
    transition: 0.2s ease-in-out;
  }
  .toggle-btn span {
    display: block;
    position: relative;
  }
  .toggle-btn span,
.toggle-btn span::before,
.toggle-btn span::after {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #000;
    color-adjust: exact;
    transform-origin: center;
    transition: 0.2s ease-in-out;
  }
  .toggle-btn span::before,
.toggle-btn span::after {
    content: "";
    position: absolute;
  }
  .toggle-btn span::before {
    top: 6px;
  }
  .toggle-btn span::after {
    top: 12px;
  }

  .heading {
    transform: translateX(-150px);
    transform-origin: left;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 150px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  .heading-logo {
    display: none;
  }
  .heading-navigation {
    display: block;
  }
  .heading-navigation img {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 0 30px 15px;
  }
  .heading-navigation__link {
    font-size: 23px;
    margin: 10px 0 30px 0px;
  }

  .nav-open .toggle-btn {
    transform: translateX(150px);
  }
  .nav-open .toggle-btn span {
    transform: rotate(45deg);
  }
  .nav-open .toggle-btn span::after {
    transform: rotate(-90deg);
    top: 1px;
  }
  .nav-open .toggle-btn span::before {
    transform: scale(0);
  }

  .nav-open .heading {
    transform: translateX(0);
  }

  .hero-wrapper {
    align-items: center;
  }
  .hero-wrapper * {
    margin: 0 auto;
  }
  .hero-label {
    font-size: 45px;
  }
  .hero-link {
    margin-top: 10%;
  }

  .about-content {
    flex-direction: column;
  }

  .projects-link {
    width: 80%;
  }
  .projects-content img {
    width: 80%;
  }
  .projects-content img:hover {
    transform: none;
  }

  .contacts-content img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contacts-content__link {
    flex-direction: column;
    font-size: 16px;
  }

  .footer-link, .footer-link__decrp {
    display: block;
  }
  .footer-button {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 640px) {
  h2 {
    padding: 20px 0;
  }

  .hero h1 {
    font-size: 35px;
    margin: 20px 0;
  }
  .hero-wrapper {
    grid-template-columns: 1fr;
  }
  .hero-contacts {
    margin: 20px 0;
  }
  .hero-label {
    margin: 20px 0;
    text-align: center;
  }

  .phoneLink {
    display: none;
  }

  .about {
    padding-bottom: 40px;
  }
  .about h2 {
    margin-top: 40px;
  }
  .about-content__img {
    width: 325px;
  }
  .about-content__text {
    align-items: flex-start;
  }
  .about-content__text h4,
.about-content__text h2 {
    align-self: center;
  }

  .projects {
    padding-bottom: 40px;
  }
  .projects h2 {
    padding-top: 60px;
  }
  .projects-content__item {
    margin: 1rem 0;
    padding: 5px 5px 15px 5px;
  }

  .diff h2 {
    margin: 30px 0;
  }

  .contacts {
    padding-bottom: 20px;
  }
  .contacts-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .contacts-content__link {
    flex-direction: initial;
    margin-bottom: 20px;
  }
  .contacts-content img {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .footer h4 {
    text-align: center;
  }
  .footer ul {
    padding-left: 35px;
  }
}

/*# sourceMappingURL=main.css.map */
